{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
  <p><strong>-- OR --</strong></p>
     <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
     <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>

{% endblock %}